{% extends 'base.html' %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if 'username' not in session %}
    <p>You are not logged in.</p>
    <a href="{{ url_for('index') }}">Log in</a> or 
    <a href="{{ url_for('register') }}">Register</a>
    {% else %}
    <p>You are logged in as {{ session["username"]|e }}.</p>
    <a href="{{ url_for('logout') }}">Logout</a>
</br>
</br>
    <form action="{{ url_for('add_income') }}" method="post">
        <label for="source">Income Source:</label>
        <input type="text" name="source" required>

        <label for="income_amount">Amount:</label>
        <input type="number" id="income_amount" name="amount" step="0.01" required>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">

        <input type="submit" value="Add Income">
    </form>
</br>
    <div>
        <label>Total Income:</label> {{ income.total|e }}
    </br>
        <label>Income Past Week:</label> {{ income.week|e }}
    </br>
        <label>Income Past Month:</label> {{ income.month|e }}
    </br>
        <label>Income Past Year:</label> {{ income.year|e }}
    </div>
    </br>
    <div class="button-group">
        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_all_income') }}" onsubmit="return confirm('Are you sure you want to delete all income transactions? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete All Income Transactions</button>
            </form>
        </div>

        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_last_income') }}" onsubmit="return confirm('Are you sure you want to delete the last income transaction? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete Last Income Transaction</button>
            </form>
        </div>
    </div>
</br>
    <form action="{{ url_for('add_expense') }}" method="post">
        <label for="expense_category">Expense category:</label>
        <select id="expense_category" name="category"required>
            <option value="housing_utilities">Housing & Utilities</option>
            <option value="food_transport">Food & Transportation</option>
            <option value="health_personal">Health & Personal Care</option>
            <option value="lifestyle_misc">Lifestyle & Miscellaneous</option>
        </select>

        <label for="expense_amount">Amount:</label>
        <input type="number" id="expense_amount" name="amount" step="0.01" required>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">

        <input type="submit" value="Add Expense">
    </form>
</br>
    <div>
        <label>Total Expenses:</label> {{ expense.total }}
    </br>
        <label>Expenses Past Week:</label> {{ expense.week }}
    </br>
        <label>Expenses Past Month:</label> {{ expense.month }}
    </br>
        <label>Expenses Past Year:</label> {{ expense.year }}
    </div>
    </br>
    <div class="button-group">
        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_all_expenses') }}" onsubmit="return confirm('Are you sure you want to delete all expense transactions? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete All Expense Transactions</button>
            </form>
        </div>

        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_last_expense') }}" onsubmit="return confirm('Are you sure you want to delete the last expense transaction? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete Last Expense Transaction</button>
            </form>
        </div>
    </div>
</br>
    <form action="{{ url_for('add_saving') }}" method="post">
        <label for="savings_category">Savings category:</label>
        <select id="savings_category" name="category" required>
            <option value="emergency">Emergency Fund</option>
            <option value="retirement">Retirement Fund</option>
            <option value="investment">Investment Fund</option>
        </select>

        <label for="savings_amount">Amount:</label>
        <input type="number" id="savings_amount" name="amount" step="0.01" required>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">

        <input type="submit" value="Add Savings">
    </form>
</br>
    <div>
        <label>Total Savings:</label> {{ savings.total }}
    </br>
        <label>Savings Past Week:</label> {{ savings.emergency }}
    </br>
        <label>Savings Past Month:</label> {{ savings.retirement }}
    </br>
        <label>Savings Past Year:</label> {{ savings.investment}}
    </div>
    </br>
    <div class="button-group">
        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_all_savings') }}" onsubmit="return confirm('Are you sure you want to delete all savings transactions? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete All Savings Transactions</button>
            </form>
        </div>

        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_last_saving') }}" onsubmit="return confirm('Are you sure you want to delete the last savings transaction? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete Last Savings Transaction</button>
            </form>
        </div>
    </div>
</br>
    <form action="{{ url_for('add_budget') }}" method="post">
        <label for="budgets_category">Budgets category:</label>
        <select id="budgets_category" name="category" required>
            <option value="housing_utilities">Housing & Utilities</option>
            <option value="food_transport">Food & Transportation</option>
            <option value="health_personal">Health & Personal Care</option>
            <option value="lifestyle_misc">Lifestyle & Miscellaneous</option>
        </select>
        <label for="budgets_amount">Amount:</label>
        <input type="number" id="budgets_amount" name="amount" step="0.01" required>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="submit" value="Add Budget">
    </form>
    </br>
    <div>
        <label>Housing & Utilities Budget Left:</label> {{ budget.housing }}
    </br>
        <label>Food & Transportation Budget Left:</label> {{ budget.food }}
    </br>
        <label>Health & Personal Care Budget Left:</label> {{ budget.health }}
    </br>
        <label>Lifestyle & Miscellaneous Budget Left:</label> {{ budget.lifestyle }}
    </div>
    </br>
    <div class="button-group">
        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_all_budgets') }}" onsubmit="return confirm('Are you sure you want to delete all budgets? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete All Budgets</button>
            </form>
        </div>

        <div class="form-wrapper">
            <form method="POST" action="{{ url_for('delete_last_budget') }}" onsubmit="return confirm('Are you sure you want to delete the last budget? This action cannot be undone.');">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <button type="submit">Delete Last Budget</button>
            </form>
        </div>
    </div>
</br>

    <form action="{{ url_for('add_goal') }}" method="post">
        <label for="goal_name">Goal Name:</label>
        <input type="text" id="goal_name "name="name" required>

        <label for="goal_category">Category:</label>
        <select id="goal_category" name="category" required>
            <option value="emergency">Emergency</option>
            <option value="retirement">Retirement</option>
            <option value="investment">Investment</option>
        </select>

        <label for="goal_amount">Goal Amount:</label>
        <input type="number" id="goal_amount" name="amount" step="0.01" required>
  
        <label for="target_date">Target Date:</label>
        <input type="date" id="target_date" name="date" required>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="submit" value="Add Goal">
    </form>

    <br>
        <table>
            <thead>
                <tr>
                    <th>Goal Name</th>
                    <th>Category</th>
                    <th>Goal Amount</th>
                    <th>Current Amount</th>
                    <th>Target Date</th>
                    <th>Progress</th>
                </tr>
            </thead>
                {% for goal in goals %}
                <tr>
                    <td>{{ goal.goal_name }}</td>
                    <td>{{ goal.category }}</td>
                    <td>{{ goal.goal_amount }}</td>
                    <td>{{ goal.current_amount }}</td>
                    <td>{{ goal.target_date.strftime('%d-%m-%Y') }}</td>
                    <td>
                        <div class="progress-bar">
                            {% set progress_percent = (goal.current_amount / goal.goal_amount) * 100 %}
                            {% if progress_percent > 100 %}
                               {% set progress_percent = 100 %}
                            {% endif %}
                            <div class="progress-bar-fill" style="width: {{ progress_percent }}%"></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
        </br>
        <div class="button-group">
            <div class="form-wrapper">
                <form method="POST" action="{{ url_for('delete_all_goals') }}" onsubmit="return confirm('Are you sure you want to delete all goals? This action cannot be undone.');">
                    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                    <button type="submit">Delete All Goals</button>
                </form>
            </div>

            <div class="form-wrapper">
                <form method="POST" action="{{ url_for('delete_last_goal') }}" onsubmit="return confirm('Are you sure you want to delete the last goal? This action cannot be undone.');">
                    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                    <button type="submit">Delete Last Goal</button>
                </form>
            </div>

            <div class="form-wrapper">
                <form method="POST" action="{{ url_for('delete_goal_by_name') }}" onsubmit="return confirm('Are you sure you want to delete the goal? This action cannot be undone.');">
                    <label for="goal_name">Delete by goal name:</label>
                    <input type="text" id="goal_name "name="name" required>
                    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                    <button type="submit">Delete Goal</button>
                </form>
            </div>
        </div>
        
    </div>
    
    {% set js_flashed_messages = get_flashed_messages()|tojson %}
    <script>
        let flashedMessages = {{ js_flashed_messages|safe }};
        flashedMessages.forEach(function(message) {
            alert(message);
        });
    </script>
    {% endif %}
{% endblock %}
