{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  </br>

  <form action="/" method="POST">
    Username: <input type="text" name="username" /><br />
    Password: <input type="password" name="password" /><br />
    <input type="submit" value="Login" />
  </form>
  <p>No account? <a href="/register">Register here</a></p>

  {% set js_flashed_messages = get_flashed_messages()|tojson %}
    <script>
        let flashedMessages = {{ js_flashed_messages|safe }};
        flashedMessages.forEach(function(message) {
            alert(message);
        });
    </script>
{% endblock %}