{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <small><i>Username should be at least 5 characters long, contain only letters and numbers, and not be entirely numeric.</i></small><br />
    <small><i>Password should be at least 8 characters long.</i></small><br />
        </br>
    <form action="/register" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        Confirm password: <input type="password" name="password_confirm" /><br />
        <input type="submit" value="Register" />
    </form>

    {% set js_flashed_messages = get_flashed_messages()|tojson %}
    <script>
        let flashedMessages = {{ js_flashed_messages|safe }};
        flashedMessages.forEach(function(message) {
            alert(message);
        });
    </script>

{% endblock %}