<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Personal finance tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% if 'username' in session and request.path == url_data.dashboard_url %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>


{% block content %}{% endblock %}
</body>
</html>