<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Personal finance tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>


{% block content %}{% endblock %}
</body>
</html>