body {
  font-family: "Arial, sans-serif";
  margin-top: 60px;
}

nav {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  background-color: #2575c4;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  text-decoration: underline;
}
